src/MyNotes.UI.Web/Service References/AccountServiceRef/AccountService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/MyNotes.Backend.Dtos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MyNotes.Backend.Dtos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:47834/Service/Hosts/AccountService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="AccountDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountDto" nillable="true" type="tns:AccountDto" />
  <xs:complexType name="ArrayOfAccountDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccountDto" nillable="true" type="tns:AccountDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccountDto" nillable="true" type="tns:ArrayOfAccountDto" />
  <xs:complexType name="MessageResultDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="HasError" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageResultDto" nillable="true" type="tns:MessageResultDto" />
</xs:schema>