src/MyNotes.UI.Web/Service References/AccountServiceRef/AccountService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AccountService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:47834/Service/Hosts/AccountService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:47834/Service/Hosts/AccountService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:47834/Service/Hosts/AccountService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MyNotes.Backend.Dtos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAccountService_GetSingleAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSingleAccount" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetSingleAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSingleAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetAllAccountsInGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAccountsInGroup" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetAllAccountsInGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAccountsInGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetAllUserAccounts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUserAccounts" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetAllUserAccounts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUserAccountsResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_AddAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAccount" />
  </wsdl:message>
  <wsdl:message name="IAccountService_AddAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_UpdateAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAccount" />
  </wsdl:message>
  <wsdl:message name="IAccountService_UpdateAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_DeleteAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAccount" />
  </wsdl:message>
  <wsdl:message name="IAccountService_DeleteAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAccountResponse" />
  </wsdl:message>
  <wsdl:portType name="IAccountService">
    <wsdl:operation name="GetSingleAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/GetSingleAccount" message="tns:IAccountService_GetSingleAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/GetSingleAccountResponse" message="tns:IAccountService_GetSingleAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAccountsInGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/GetAllAccountsInGroup" message="tns:IAccountService_GetAllAccountsInGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/GetAllAccountsInGroupResponse" message="tns:IAccountService_GetAllAccountsInGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUserAccounts">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/GetAllUserAccounts" message="tns:IAccountService_GetAllUserAccounts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/GetAllUserAccountsResponse" message="tns:IAccountService_GetAllUserAccounts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/AddAccount" message="tns:IAccountService_AddAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/AddAccountResponse" message="tns:IAccountService_AddAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/UpdateAccount" message="tns:IAccountService_UpdateAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/UpdateAccountResponse" message="tns:IAccountService_UpdateAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/DeleteAccount" message="tns:IAccountService_DeleteAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/DeleteAccountResponse" message="tns:IAccountService_DeleteAccount_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAccountService" type="tns:IAccountService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSingleAccount">
      <soap:operation soapAction="http://tempuri.org/IAccountService/GetSingleAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAccountsInGroup">
      <soap:operation soapAction="http://tempuri.org/IAccountService/GetAllAccountsInGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUserAccounts">
      <soap:operation soapAction="http://tempuri.org/IAccountService/GetAllUserAccounts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAccount">
      <soap:operation soapAction="http://tempuri.org/IAccountService/AddAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAccount">
      <soap:operation soapAction="http://tempuri.org/IAccountService/UpdateAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAccount">
      <soap:operation soapAction="http://tempuri.org/IAccountService/DeleteAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountService">
    <wsdl:port name="BasicHttpBinding_IAccountService" binding="tns:BasicHttpBinding_IAccountService">
      <soap:address location="http://localhost:47834/Service/Hosts/AccountService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>