src/MyNotes.UI.Web/Service References/AccountServiceRef/AccountService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:47834/Service/Hosts/AccountService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:47834/Service/Hosts/AccountService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MyNotes.Backend.Dtos" />
  <xs:element name="GetSingleAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q1:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MyNotes.Backend.Dtos" minOccurs="0" name="GetSingleAccountResult" nillable="true" type="q2:AccountDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAccountsInGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="groupId" type="q3:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAccountsInGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MyNotes.Backend.Dtos" minOccurs="0" name="GetAllAccountsInGroupResult" nillable="true" type="q4:ArrayOfAccountDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUserAccounts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="groupId" type="q5:guid" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q6:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUserAccountsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MyNotes.Backend.Dtos" minOccurs="0" name="GetAllUserAccountsResult" nillable="true" type="q7:ArrayOfAccountDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q8:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MyNotes.Backend.Dtos" minOccurs="0" name="AddAccountResult" nillable="true" type="q9:MessageResultDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q10:guid" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q11:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/MyNotes.Backend.Dtos" minOccurs="0" name="UpdateAccountResult" nillable="true" type="q12:MessageResultDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q13:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/MyNotes.Backend.Dtos" minOccurs="0" name="DeleteAccountResult" nillable="true" type="q14:MessageResultDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>